---
import Navbar from "../components/Navbar.astro";
import 'katex/dist/katex.min.css';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademiX - Academic Paper Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="flex bg-white">
    <Navbar/>
    <main class="flex-grow ml-40 p-6">
        <slot />
    </main>
    <script type="module">
      import katex from 'katex';
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.latex').forEach((el) => {
          katex.render(el.textContent, el, {
            throwOnError: false
          });
        });
      });
    </script>
</body>
</html>
